<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
  <test thread-count="5" name="Positive test">
<parameter name="a" value="10"></parameter>
<parameter name="b" value="20"></parameter>
<parameter name="c" value="Velocity"></parameter>
    <classes>
      <class name="Test.ZerodhaLoginPageTest">
		<methods>
		</methods>
      </class>
	  <class name="Test.ZerodhaHomeTest">
	  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
